<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
              [text]="buttonText"
              [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Our Family</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label> <ion-icon name="person"></ion-icon> </ion-label>
      <ion-input placeholder="First name" [(ngModel)]="member.firstName"  type="text"></ion-input>
    </ion-item>
    <div style="display: flex; align-items: center; align-content: center; justify-content: center">
      <ion-button color="success" shape="round" (click)="createFamilyMember()">Create member family</ion-button>
    </div>
  </ion-list>
  <ion-list *ngFor="let family of familymemberfromDb">
      <div>
        {{family['firstName']}}
      </div>
  </ion-list>
</ion-content>
