<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Hello {{user['pseudo']}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item *ngIf="familyMemberfromDb.size >= 0">Click on family member</ion-item>
        <ion-list *ngFor="let family of familyMemberfromDb.familyMembers; let i = index">
            <ion-card [button]="true" (click)="goMask(family.id)">
                <ion-card-header>
                    <ion-card-title>{{family.firstName}}</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-list>
</ion-content>
